#Step {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .RadioButtons {
        margin-top: 5rem;
    }

    .StartButton {
        margin-top: 5rem;
    }

    .Score {
        align-self: flex-end;
        margin: 2rem 2rem 0 0;
        padding: 1rem;
        border: 1px dashed black;
        text-align: center;
        position: absolute;
        top: 0;
        th{
            padding: 0 2rem 1rem 2rem;
        }
        td {
            padding: 1rem;
        }
    }
  }
  