
.StartButton {
    font-family: 'Luckiest Guy', cursive;
    font-weight: lighter;
    font-size: 2rem;
    
    button {
        font-size: 3rem;
        padding: 10px 80px 10px 80px;
        border: 3px solid black;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
    }

    button:hover{
        color: green;
    }

    button:disabled{
        filter: grayscale(100%);
        border: 3px solid gray;
        color: gray;
    } 
}