#Winner {
    width: 100%;
    height: 100vh; // That is a very bad practice, i know, but i don´t have nothing of time.
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}