#Landing {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .MainTitle{
      margin-top: 10rem;
  }

  .PlayerNames {
    margin-top: 10rem;
  }

  .StartButton {
    margin-top: 10rem;
  }
  
}
