
.PlayerNames {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Luckiest Guy', cursive;
    font-weight: lighter;
    font-size: 2rem;

    .player-container {
        width: 100%;
        margin: 3rem;

        .player-label {
            margin: 3rem;
        }
        .player-input {
           border: 2px dashed black;
        }
    }

}