<!doctype html><html><head>  <title>uruit-project</title>  <meta charset="utf-8">  <meta name="description" content="">  <style>    html, body {      margin: 0;      padding: 0;      width: 100%;      height: 100%;      background-color: #000000;      background-position: 50% 50%;      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";    }    .message {      position: absolute;      top: 50%;      left: 50%;      width: 600px;      margin-left: -300px;      text-align: center;      font-size: 24px;      font-weight: bold;      line-height: 1.5;      color: #ffffff;    }  </style><link rel="apple-touch-icon" sizes="180x180" href="{{ASSET_PATH}}images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ASSET_PATH}}images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ASSET_PATH}}images/favicons/favicon-16x16.png">
<link rel="manifest" href="{{ASSET_PATH}}images/favicons/site.webmanifest">
<link rel="mask-icon" href="{{ASSET_PATH}}images/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="{{ASSET_PATH}}images/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="{{ASSET_PATH}}images/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="{{ASSET_PATH}}images/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff"></head><body>  <div class="message">Your browser is not supported.<br>Please update it or choose a different browser.</div></body></html>